PORT=3000
WHATSAPP_TOKEN=your_whatsapp_token_here
PHONE_NUMBER_ID=your_phone_number_id_here
SERPAPI_KEY=8d6490821e1ad49e9be6b3e0b07f886c4912077e87a57c47217a1782295ad1de
GOOGLE_CREDENTIALS={"type":"service_account","project_id":"..."}
SHEET_ID=your_google_sheet_id_here
OPENAI_API_KEY=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
